<div class="artist">
	<h1><%= @artist.name %></h1>
	<p><%= @artist.bio %></p>
</div>

<h2>Releases</h2>

<%- if @artist.releases.empty? -%>
	<p>This artist has no releases.</p>
<%- else -%>
	<%= render :partial => "releases/release", :collection => @artist.releases, :locals => {:release_class => "artistsreleases"} %>
<%- end -%>