<%= form_for :release, :url => release_path(@release), :html => {:method => :delete} do |f| %>
	<h2>Are you sure you want to delete this release?</h2>
	<p>
		<%= submit_tag "Delete" %>
		or 
		<%= link_to "Cancel", releases_path %>
	</p>
<% end %>